/********
CATALOG
********/

.catalog {
	width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 160px;
}

.catalog__path {
	margin-bottom: 35px;
}

.catalog__title {
	margin: 0;
	margin-bottom: 60px;

	font-family: $fr-l;
	font-size: 48px;
	font-weight: 200;
}

.catalog__main {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

/*RESPONSIVE*/

@media screen and (max-width: 1200px) {

	.catalog {
		width: 768px;
	}

}

@media screen and (max-width: 800px) {

	.catalog {
		width: 480px;
	}

}

@media screen and (max-width: 520px) {

	.catalog {
		width: 300px;
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.catalog__title {
		margin-bottom: 35px;

		font-size: 30px;
	}

	.catalog__main {
		flex-direction: column;
	}

}
