/******
CITIES
******/

.cities {
	list-style: none;

	margin: 0;
	padding: 0;

	position: relative;
}

.cities__chosen-city {
	padding: 0 30px;

	position: relative;

	font-size: 12px;
	text-transform: uppercase;

	cursor: pointer;

	transition: 0.3s;

	&::after {
		content: '';

		width: 11px;
		height: 7px;

		position: absolute;
		right: 0;
		top: 4px;

		background-image: url(../img/arrow-point-to-right.png);
	}

	&::before {
		content: '';

		width: 12px;
		height: 15px;

		position: absolute;
		left: 0;
		top: 50%;

		background-image: url(../img/place.png);

		transform: translateY(-50%);
	}

	&--opened {

		&::after {
			transform: rotate(180deg);
		}

	}

}

.cities__list {
	list-style: none;

	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #e1e1e1;
	border-top: none;

	position: absolute;
	left: 0;
	top: calc(100% + 5px);
	z-index: 1;

	background-color: #fff;

	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}

.cities__city {
	padding: 5px 2px;
	border-top: 1px solid #e1e1e1;

	cursor: pointer;

	transition: 0.3s;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.cities__chosen-city {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

	}

	.cities__city {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

	}

}

