/*****
GOODS
*****/

.goods {
	width: 864px;
}

.goods__sort-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 30px;
}

.goods__sort-main {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 525px;
}

.goods__shown-amount-description {
	margin: 0;
	margin-right: 10px;

	font-family: $fr-smb;
	font-size: 14px;
}

.goods__shown-amount {
	display: flex;
	align-items: center;
}

.goods__shown-amount-list {
	display: flex;
	justify-content: space-between;
	align-items: center;

	list-style: none;

	width: 130px;
	margin: 0;
	padding: 0;
}

.goods__shown-amount-item button {
	width: 40px;
	box-sizing: border-box;
	margin: 0;
	padding: 10px 0;
	border: 1px solid transparent;

	background-color: transparent;

	font-family: $fr-l;
	font-size: 14px;
	font-weight: 200;
	color: $dark-purple;

	cursor: pointer;

	transition: 0.3s;
}

.goods__shown-amount-item--chosen button {
	border-color: $dark-purple;

	cursor: default;
}

.goods__view-buttons {
	display: flex;
	justify-content: space-between;

	list-style: none;

	width: 80px;
	margin: 0;
	padding: 0;
}

.goods__view-button button {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border: none;

	background-color: transparent;

	background-size: 100%;
	background-repeat: no-repeat;

	cursor: pointer;

	transition: 0.3s;
}

.goods__view-button--grid button {
	background-image: url(../img/grid.svg);
}

.goods__view-button--column button {
	width: 25px;
	height: 25px;
	background-image: url(../img/icon-mobile-menu.svg);
}

.goods__view-button--chosen button {
	opacity: 0.3;

	cursor: default;
}

.goods__switch {
	display: none;
}

.goods__list {
	display: flex;
	flex-wrap: wrap;

	list-style: none;

	width: 100%;
	margin: 0;
	margin-bottom: 70px;
	padding: 0;
}

.goods__list .product {
	width: 288px;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.goods__shown-amount-item button {

		&:hover {
			opacity: 0.7;
		}

		&:active {
			opacity: 0.4;
		}

	}

	.goods__shown-amount-item {

		&--chosen button {

			&:hover {
				opacity: 1;
			}

			&:active {
				opacity: 1;
			}

		}

	}

	.goods__view-button button {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

	}

	.goods__view-button--chosen button {

		&:hover {
			opacity: 0.3;
		}

		&:active {
			opacity: 0.3;
		}

	}

}

@media screen and (max-width: 1200px) {

	.goods {
		width: 510px;
	}

	.goods__sort-wrapper {
		flex-direction: column;
	}

	.goods__list .product {
		width: 250px;
	}

}

@media screen and (min-width: 806px) {

	.goods__list {

		&--column {
			flex-direction: column;
			align-items: center;
		}

		&--column .product {
			display: flex;
			align-items: center;

			width: 510px;
			border: none;
			border-top: 1px solid #e1e1e1;

			text-align: left;

			&:first-child {
				border-top: none;
			}

		}

		&--column .product__img {
			margin-bottom: 0;
			margin-right: 140px;
		}

		&--column .product__title {
			margin-bottom: 5px;
		}

		&--column .product__description {
			margin-bottom: 10px;
		}

		&--column .product__prices {
			margin-bottom: 10px;
		}

		&--column .product__order {
			margin-bottom: 5px;
		}

	}

}

@media screen and (max-width: 805px) {

	.goods {
		width: 250px;
	}

	.goods__sort-main {
		flex-direction: column;
	}

	.goods__shown-amount {
		margin-bottom: 15px;
	}

	.goods__view-buttons {
		align-self: flex-end;
	}

	.goods__switch {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 150px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.goods__counter {
		margin: 0;
	}

	.goods__prev, .goods__next {
		width: 12px;
		height: 23px;
		margin: 0;
		padding: 0;
		border: none;

		background-color: transparent;

		cursor: pointer;

		transition: 0.3s;

		&:focus {
			outline: none;
		}

	}

	.goods__next {
		transform: rotate(180deg);
	}

	.goods__list {
		margin-bottom: 30px;
	}

	.goods__list .product {
		min-width: 250px;
	}

}

@media screen and (max-width: 520px) {

	.goods {
		width: 100%;
	}

	.goods__view-buttons {
		display: none;
	}

	.goods .product {
		width: 100%;
	}

}
