/*****
INTRO
*****/

.intro {
	background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(224,224,224,1) 100%);
}

.intro__wrapper {
	width: 1170px;
	margin: 0 auto;
	padding-top: 100px;
}

.intro__title {
	width: 570px;
	margin: 0 0 30px 0;

	font-family: $fr-l;
	font-size: 56px;
	font-weight: 200;
	line-height: 1.177;
}

.intro__subtitle {
	width: 395px;
	margin: 0 0 50px 0;

	font-family: #fr-l;
	font-size: 14px;
	line-height: 1.714;
}
