/******
NAV
******/

.nav {
	padding: 15px 0;
	border-bottom: 1px solid #e1e1e1;

	background-color: #fff;
}

.nav__wrapper {
	display: flex;
	justify-content: space-between;

	width: 1170px;
	margin: 0 auto;

	position: relative;
}

.nav__list {
	display: flex;
	justify-content: space-between;

	list-style: none;

	width: 990px;
	margin: 0;
	padding: 0;
}

.nav__item a {
	font-family: $fr-l;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	color: #646163;
}

.nav__toggler {
	display: none;

	width: 25px;
	height: 19px;
	border: none;

	position: absolute;
	right: 10px;
	top: 0;

	background-color: transparent;
	background-image: url(../img/icon-mobile-menu.svg);

	&--close {
		width: 19px;

		background-image: url(../img/icon-close.svg);
	}

	&:focus {
		outline: none;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.nav__item a {

		&:hover {
			color: #000;
		}

		&:active {
			opacity: 0.6;
		}

	}

}

@media screen and (max-width: 1200px) {

	.nav__wrapper {
		width: 768px;
	}

	.nav__list {
		flex-wrap: wrap;

		width: 640px;
	}

	.nav__item a {
		font-size: 11px;
	}

}

@media screen and (max-width: 800px) {

	.nav__wrapper {
		flex-direction: column;
		align-items: center;

		width: auto;
	}

	.nav__toggler {
		display: block;

		cursor: pointer;
	}

	.nav__list {
		display: none;

		flex-direction: column;
		align-items: center;

		&--shown {
			display: flex;
		}

	}

	.nav__item {
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: 1px solid #e1e1e1;

		&:first-child {
			border-top: none;
		}

	}

}
