/**********
ORDER FUEL
**********/

.order-fuel {
	width: 570px;
}

.order-fuel__main {
	display: flex;
	justify-content: space-between;

	width: 570px;
	margin-bottom: 50px;
}

.order-fuel__list {
	display: flex;
	justify-content: space-between;

	list-style: none;

	width: 365px;
	margin: 0;
	padding: 0;
}

.order-fuel__item {
	position: relative;
}

.order-fuel__field {
	width: 180px;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid #ebebeb;

	font-family: $fr-smb;
	font-size: 14px;

	transition: 0.3s;

	&::-webkit-input-placeholder {
		font-family: $fr-l;
	}

	&::-moz-placeholder {
		font-family: $fr-l;
	}

	&:focus {
		outline: none;
	}

}

.order-fuel__focus-line {
	width: 100%;
	height: 2px;

	position: absolute;
	left: 0;
	bottom: -2px;

	background-color: #442e3f;

	opacity: 0;

	transition: 0.3s;
}

.order-fuel__field:focus + .order-fuel__focus-line {
	opacity: 1;
}

.order-fuel__submit {
	width: 200px;
	border: none;

	background-color: rgba(68, 46, 63, 0.9);

	font-family: $fr-smb;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;

	cursor: pointer;

	transition: 0.3s;

	&:focus {
		outline: none;
	}

}

.order-fuel__agree-label {
	padding-left: 30px;

	position: relative;

	font-family: $fr-l;
	font-size: 14px;
	color: #1a2d4a;

	cursor: pointer;

	&::before {
		content: '';

    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;

		position: absolute;
		left: 0;
		top: 0;

		background-color: #f1f1f1;

    cursor: pointer;
	}

}

.order-fuel__agree-input:checked + .order-fuel__agree-label::before {
	background-image: url(../img/icon-tick.svg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.order-fuel__field {

		&:hover {
			border-color: #000;
		}

	}

	.order-fuel__submit {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

	}

}

@media screen and (max-width: 1200px) {

	.order-fuel__main {
		flex-direction: column;

		width: 305px;
		margin-bottom: 20px;
	}

	.order-fuel__list {
		width: 305px;
		margin-bottom: 10px;
	}

	.order-fuel__field {
		width: 150px;
		padding: 10px;
	}

	.order-fuel__submit {
		width: 150px;
		box-sizing: border-box;
		padding: 10px;

		font-size: 11px;
	}

}

@media screen and (max-width: 800px) {

	.order-fuel {
		width: 100%;
		margin-bottom: 10px;
	}

	.order-fuel__main {
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.order-fuel__submit {
		margin: 0 auto;
	}

	.order-fuel__agree {
		text-align: center;
	}

}

@media screen and (max-width: 520px) {

	.order-fuel__main {
		width: 245px;
	}

	.order-fuel__list {
		width: 245px;
	}

	.order-fuel__field {
		width: 120px;
	}

	.order-fuel__agree-label {
		font-size: 12px;

		&::before {
			top: -3px;
		}

	}

}
