/*******
QUALITY
*******/

.quality {
	width: 970px;
	margin: 0 auto;
}

.quality__title {
	margin: 0;
	margin-bottom: 30px;

	font-family: $fr-reg;
	font-size: 30px;
	font-weight: 300;
}

.quality__description {
	margin: 0;
	margin-bottom: 70px;

	font-family: $fr-l;
	font-size: 16px;
	font-weight: 200;
}

.quality__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	list-style: none;

	width: 100%;
	margin: 0;
	padding: 0;
}

.quality__item {
	display: flex;

	margin-bottom: 90px;
}

.quality__item-img {
	display: block;

	height: 115px;
	margin-right: 40px;
	border-radius: 10px;

	position: relative;

	box-shadow: 0px 12px 50.22px 3.78px rgba(16, 16, 36, 0.18);

	transition: 0.3s;

	&::before {
		content: '';

		width: 100%;
		height: 100%;

		position: absolute;

		background-color: #fff;

		opacity: 0;

		transition: 0.3s;
	}

	&::after {
		content: '';

		width: 20px;
		height: 20px;

		position: absolute;
		left: 50%;
		top: 40%;

		background-image: url(../img/magnifying-glass.svg);

		transform: translate(-50%);

		opacity: 0;

		transition: 0.3s;
	}

}

.quality__item-img img {
	width: 104px;
	height: 115px;
	border-radius: 10px;
}

.quality__item-title {
	width: 222px;
	margin: 0;
	margin-bottom: 20px;

	font-family: $fr-reg;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.7;
}

.quality__item-download-wrapper {
	display: flex;
}

.quality__item-download {
	margin: 0;
	margin-right: 5px;
	padding-left: 55px;

	position: relative;

	font-family: $fr-reg;
	font-size: 14px;
	font-weight: 300;
	color: $dark-purple;

	transition: 0.3s;

	&::before {
		content: '';

		width: 40px;
		height: 40px;

		position: absolute;
		left: 0;
		top: 50%;

		background-color: #faeaca;
		background-image: url(../img/download.svg);
		background-size: 40%;
		background-position: center;
		background-repeat: no-repeat;

		transform: translateY(-50%);
	}

}

.quality__item-weight {
	margin: 0;

	font-family: $fr-reg;
	font-size: 14px;
	font-weight: 300;
	color: #858485;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.quality__item-img {

		&:hover {
			border-radius: 0;

			&::before {
				opacity: 0.7;
			}

			&::after {
				opacity: 1;
			}

		}

	}

	.quality__item-img:hover img {
		border-radius: 0;
	}

	.quality__item-download {

		&:hover {
			opacity: 0.7;
		}

		&:active {
			opacity: 0.5;
		}

	}

}

@media screen and (max-width: 1200px) {

	.quality {
		width: 768px;
	}

}

@media screen and (max-width: 800px) {

	.quality {
		width: 480px;
		margin-bottom: 70px;
	}

	.quality__title {
		margin-bottom: 15px;

		font-size: 24px;
	}

	.quality__description {
		margin-bottom: 45px;

		font-size: 14px;
	}

	.quality__list {
		flex-direction: column;
		align-items: center;
	}

	.quality__item {

		&:last-child {
			margin-bottom: 0;
		}

	}

}

@media screen and (max-width: 520px) {

	.quality {
		width: 300px;
	}

	.quality__title, .quality__description {
		text-align: center;
	}

	.quality__description {
		font-size: 12px;
	}

	.quality__item-title {
		width: 150px;
	}

}
