/******
QUOTES
******/

.quotes__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	list-style: none;

	width: 1170px;
	margin: 0 auto;
	padding: 55px 0 25px 0;
}

.quotes__item {
	width: 200px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.quotes__item a {
	padding-left: 30px;

	position: relative;

	font-family: $fr-smb;
	font-size: 12px;
	color: $dark-purple;
	text-transform: uppercase;
	white-space: nowrap;

	transition: 0.3s;

	&:before {
		content: '»';

		position: absolute;
		left: 10px;
		top: -5px;

		font-family: 'Tahoma', sans-serif;
		font-weight: 500;
		font-size: 18px;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.quotes__item a {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

	}

}

@media screen and (max-width: 1200px) {

	.quotes__list {
		width: 768px;
		padding: 20px 0 10px 0;
	}

	.quotes__item {
		margin-bottom: 10px;
	}

}

@media screen and (max-width: 800px) {

	.quotes__list {
		width: 480px;
	}

	.quotes__item {
		width: 130px;
		margin-bottom: 0;
	}

	.quotes__item a {
		padding-left: 15px;

		font-size: 10px;

		&::before {
			left: 0;
			top: -4px;

			font-size: 14px;
		}

	}

}

@media screen and (max-width: 520px) {

	.quotes__list {
		width: 300px;
	}

}
