/*************
SHOPPING CART
*************/

.shopping-cart {
	position: relative;
}

.shopping-cart__button {
	width: 33px;
	height: 29px;
	border: none;

	position: relative;

	background-color: transparent;
	background-image: url(../img/shop.svg);
	background-repeat: no-repeat;
	background-size: 100%;

	cursor: pointer;

	transition: 0.3s;

	&:focus {
		outline: none;
	}

}

.shopping-cart__count {
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	padding-top: 1px;
	border-radius: 50%;

	position: absolute;
	right: -15px;
	top: -15px;

	background-color: #faeaca;

	font-family: $fr-l;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
}

.shopping-cart__wrapper {
	display: none;

	width: 450px;
	box-sizing: border-box;

	position: absolute;
	right: -15px;
	top: calc(100% + 15px);
	z-index: 3;

	background-color: #fff;
	box-shadow: 0px 24px 111.6px 8.4px rgba(16, 16, 36, 0.1);

	&--shown {
		display: block;
	}

}

.shopping-cart__header {
	padding: 25px 0;
	border-top: 1px solid #e1e1e1;

	text-align: center;
}

.shopping-cart__description {
	margin: 0;

	font-family: $fr-l;
	font-size: 12px;
	font-weight: 200;
	color: #858485;
}

.shopping-cart__amount {
	margin: 0;

	font-family: $fr-l;
	font-size: 18px;
	font-weight: 200;
}

.shopping-cart__amount-number {
	font-family: $fr-smb;
}

.shopping-cart__list {
	list-style: none;

	height: 400px;
	margin: 0;
	padding: 0;

	overflow-y: scroll;
}

.shopping-cart__item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 25px 40px;
	border-top: 1px solid #e1e1e1;

	&:last-child {
		border-bottom: 1px solid #e1e1e1;
	}

}

.shopping-cart__item-content {
	display: flex;
	align-items: center;
}

.shopping-cart__item-img {
	margin-right: 25px;
}

.shopping-cart__item-img img {
	max-width: 41px;
	max-height: 63px;
	min-width: 41px;
	min-height: 63px;

	transition: 0.3s;
}

.shopping-cart__item-title {
	font-size: 14px;
	color: #362432;

	transition: 0.3s;
}

.shopping-cart__item-prices {
	list-style: none;

	margin: 0;
	padding: 0;
}

.shopping-cart__item-price {
	font-family: $fr-l;
	font-size: 15px;
	font-weight: 200;
}

.shopping-cart__price-value {
	font-family: $fr-smb;
}

.shopping-cart__item-delete {
	width: 19px;
	height: 22px;
	border: 0;

	background-color: transparent;
	background-image: url(../img/trash.png);

	cursor: pointer;

	transition: 0.3s;

	&:focus {
		outline: none;
	}

}

.shopping-cart__buttons {
	display: flex;

	list-style: none;

	margin: 0;
	padding: 0;
}

.shopping-cart__buttons li {
	margin: 0;
	padding: 0;
}

.shopping-cart__to-basket {
	display: block;

	width: 225px;
	padding: 25px 0;
	text-align: center;

	background-color: $dark-purple;

	font-family: $fr-smb;
	font-size: 12px;
	color: #dfdfdf;
	text-transform: uppercase;

	transition: 0.3s;
}

.shopping-cart__to-order {
	display: block;

	width: 225px;
	padding: 25px 0;
	text-align: center;

	background-color: $purple;

	font-family: $fr-smb;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;

	transition: 0.3s;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.shopping-cart__button {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

		&:focus {
			outline: none;
		}

	}

	.shopping-cart__item-img img {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

	}

	.shopping-cart__item-title {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

	}

	.shopping-cart__item-delete {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

	}

	.shopping-cart__to-basket {

		&:hover {
			background-color: $purple;

			color: #fff;
		}

	}

	.shopping-cart__to-order {

		&:hover {
			background-color: $dark-purple;

			color: #dfdfdf;
		}

	}

}

@media screen and (max-width: 1200px) {

	.shopping-cart__wrapper {
		width: 350px;
	}

	.shopping-cart__buttons {
		flex-direction: column;
	}

	.shopping-cart__to-basket, .shopping-cart__to-order {
		width: 350px;
		padding: 15px 0;
	}

}

@media screen and (max-width: 520px) {

	.shopping-cart__wrapper {
		width: 300px;

		right: auto;
		left: 50%;
		top: calc(100% + 5px);

		transform: translateX(-50%);
	}

	.shopping-cart__to-basket, .shopping-cart__to-order {
		width: 300px;
	}

}
