/*************
SHOPPING CART
*************/

.shopping-cart__button {
	width: 33px;
	height: 29px;
	border: none;

	position: relative;

	background-color: transparent;
	background-image: url(../img/shop.png);

	cursor: pointer;

	transition: 0.3s;

	&::after {
		content: '2';

		width: 18px;
		height: 18px;
		box-sizing: border-box;
		padding-top: 1px;
		border-radius: 50%;

		position: absolute;
		right: -15px;
		top: -15px;

		background-color: #faeaca;

		font-family: $fr-l;
		font-size: 12px;
		font-weight: 300;
		text-align: center;
	}

	&:focus {
		outline: none;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.shopping-cart__button {

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}

		&:focus {
			outline: none;
		}

	}

}
