/*************
SPECIAL OFFER
*************/

.special-offer {
	padding-top: 110px;
	padding-bottom: 100px;

	background: rgb(29,21,27);
	background: linear-gradient(110deg, rgba(29,21,27,1) 55%, rgba(255,255,255,0) 55%), linear-gradient(114deg, rgba(64,43,59,0.95) 0%, rgba(64,43,59,0.95) 100%), url(../img/fuel.png);
	background-repeat: no-repeat;
	background-position: right center;

	color: #fff;
}

.special-offer__wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	width: 1170px;
	margin: 0 auto;

	position: relative;
}

.special-offer__title {
	margin-top: 0;
	margin-bottom: 35px;

	font-family: $fr-reg;
	font-size: 48px;
	font-weight: 300;
}

.special-offer__description {
	width: 315px;
	margin-top: 0;
	margin-bottom: 60px;

	font-family: $fr-l;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.7;
}

.special-offer__condition {
	margin-top: 0;
	margin-bottom: 60px;

	font-family: $fr-l;
	font-size: 34px;
	font-weight: 200;
}

.special-offer__buttons-list {
	display: flex;

	list-style: none;

	width: 395px;
	margin: 0;
	padding: 0;
}

.special-offer__button {
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}

}

.special-offer__button a {
	display: block;

	box-sizing: border-box;
	padding: 20px 34px;
	border: 1px solid #fff;

	background-color: transparent;

	font-family: $fr-smb;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;

	transition: 0.3s;
}

.special-offer__preview {
	padding-right: 60px;
}

.special-offer__img {
	position: absolute;
	left: 455px;
	top: 50%;

	transform: translateY(-50%);
}

.special-offer__new-price {
	margin-top: 0;
	margin-bottom: 40px;

	font-size: 36px;
}

.special-offer__price-value {
	font-family: $fr-l;
	font-size: 99px;
	font-weight: 200;
}

.special-offer__old-price {
	margin: 0;

	font-family: $fr-l;
	font-size: 30px;
	font-weight: 200;
	text-transform: uppercase;

	opacity: 0.3;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.special-offer__button a {

		&:hover {
			background-color: #fff;

			color: $dark-purple;
		}

		&:active {
			opacity: 0.8;
		}

	}

}
