$fr-reg: 'Francker Regular', Tahoma, sans-serif;
$fr-smb: 'Francker Semibold', Tahoma, sans-serif;
$fr-l: 'Francker Light', Tahoma, sans-serif;
$proxima: 'ProximaNova Regular', Tahoma, sans-serif;
$montseratt: 'Montseratt Medium', Tahoma, sans-serif;
$purple: #442e3f;
$dark-purple: #110c10;
